* {
    box-sizing: border-box;
}

body {
    /*padding-top: 70px;*/
}

section {
    padding-top: 60px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #333;
}

section#event-desc {
    padding-top: 0px;
    /*min-height: 90vh;*/
    color: #333;
    background-color: #fff;
}

div.content {
    text-align: center;
    min-width: 35%;
}

img {
    width: 65%
}

h1#event-name {
    font-size: 70px;
    font-weight: bold;
}

p#event-desc {
    font-size: 25px;
}

label.control-label {
    text-align: left;
}

.timeline {
    color: #333;
}

.not-visible {
  visibility: hidden;
}

timeline-badge, timeline-panel {
  animation-delay: 0.25s;
  -webkit-animation-delay: 0.25s;
}
